@font-face {
    font-family: 'Norse Bold';
    src:
        url('./norse-bold.otf') 
        format('opentype');
    font-weight: bold;
    font-style: normal;
}

:root {
    --background-grey: #F4F4F4E6;
    --light-grey: #E5E7EB;
    --grayish-green: #596D48;
    --transculent-greysilver: #C8C8C866;
    --transculent-charcoal: #3232324D;
    --matt-black: #151515F7;
    --red: #E74C3C;
    --blue: #3498DB;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    background-color: var(--background-grey);
    font-family: 'Open Sans', sans-serif;
}

a, a:visited {
    color: inherit;
}

form p:first-child {
    padding-top: 1rem;
    padding-bottom: 1.5rem;;
}

input {
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    line-height: 2em;
    border: 0.5px solid var(--light-grey);
    border-radius: 5px;
    width: 100%;
}

input:focus {
    border-color: var(--blue);
}

.invalid {
    border-color: var(--red);
}

.completed{
    border-color: green;
}

label {
    font-size: 0.75rem;
    font-weight: 600;
    color: var(--matt-black);
    letter-spacing: 0.1rem;
}

button {
    background-color: var(--grayish-green);

    width: 7vw;
    height: 4vh;
    border-radius: 10px;
    font-weight: 600;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.required:after {
    content:"*";
  }

#introducing-text p:last-child {
    margin-top: 3em;
}

#green-link {
    text-decoration: none;
    color: var(--grayish-green);
    font-weight: 600;
}

#right-column button {
    margin-top: 2.5em;
    margin-bottom: 3em;
}

.field {
    flex: 40%;
    margin-bottom: 1.5em;
}

.big-font {
    font-size: 1.75em;
    font-weight: 600;
}

#main-container {
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

#left-column {
    background-image: url(./images/background.jpg);
    width: 40%;
    position: relative;
    
}

#white-background {
    background-color: white;
    padding-bottom: 1em; 
}

#white-background, .grey-background {
    padding-left: 2vw;
}

.white-text {
    color: aliceblue;
}

#logo {
    height: 20vh;
    width: 100%;
    margin-top: 20vh;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: var(--transculent-charcoal);
    flex-direction: row;
}

#logo-title {
    font-family: 'Norse Bold', sans-serif;
    text-align: center;
    font-size: 10em;
    margin-left: -2%;
}

#logo-image {
    height: 100%;
} 

#footer {
    margin-top: auto;
    margin-bottom: 0.5%;
    align-items: center;
}

#right-column {
    flex-direction: column;
    width: 60vw;
    position: relative;
}

#introducing-text {
    height: 40vh;
    width: 100%;
}

#introducing-text p {
    width: 60ch;
}

#introducing-text p:first-child {
    margin-top: 15vh;
}

#inputs {
    flex-direction: row;
    flex-wrap: wrap;
    width: 30vw;
}

#inputs .container.field:nth-child(even):not(.input){
    margin-left: 15%;
}

#container-button::before {
    content: '';
    width: 59.5vw; /* The width of the right column is 60vw and the left margin of the shadow is o.5vw.*/
    height: 1vh;
    left: 0.5vw;
    border: 1px solid  var(--background-grey);
    position: absolute;
    box-sizing: inherit;
    background-image: linear-gradient(to bottom, var(--transculent-greysilver), var(--background-grey));
}

.error {
    width: 100%;
    padding: 0;
    font-size: 80%;
    color: var(--red);
  }
  
  .error.active {
    padding: 0.3em;
  }

  .input {
    flex-direction: row;
    position: relative;
    padding: 0;
    width: 100%;
  }

.input:has(input.completed)::after {
    content: '';
    width: 5%; 
    height: 60%;
    background-image: url('images/green-tick1.png');
    background-repeat: no-repeat;
    background-size: 100% auto; 
    margin-top: 0.2em; 
    margin-left: 0.2em;;
}
